*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    background-color: black;
}

body{
    background-color: black;
}

.banner-head {
    color: greenyellow;
}
input{
    max-width: 80%;
}
footer{
    background-color: black;
}

#calculate{
    font-size: 1.23vh;
}
#calculate-total{
    font-size: 1.23vh;
}

@media (max-width: 576px){
.banner-head{
    font-size: 2.3vh;
}
.banner-txt {
    font-size: 2vh;
}
}